In [57]:
# -*- coding: utf-8 -*-
# リスト 5-8  『吾輩は猫である』『三四郎』『こころ』の TF-IDF を計算する
import numpy as np
import pandas as pd
import MeCab
from aozora import Aozora
from sklearn.feature_extraction.text import TfidfVectorizer
#
aozoradir = ""
m = MeCab.Tagger("-Owakati")  # MeCabで分かち書きにする

In [67]:
files = ['wagahaiwa_nekodearu.txt', 'sanshiro.txt', 'kokoro.txt']
readtextlist = [Aozora(aozoradir + u) for u in files]
stringlist = ['\n'.join(u.read()) for u in readtextlist]
wakatilist = [m.parse(u).rstrip() for u in stringlist]
wakatilist = np.array(wakatilist)

In [60]:
# norm=Noneでベクトルの正規化（長さを1にする）をやめる
vectorizer = TfidfVectorizer(use_idf=True, norm=None, \
                             token_pattern=u'(?u)\\b\\w+\\b')

tfidf = vectorizer.fit_transform(wakatilist)
tfidfpd = pd.DataFrame(tfidf.toarray())     # pandasのデータフレームに変換する
itemlist = sorted(vectorizer.vocabulary_.items(), key=lambda x:x[1])
tfidfpd.columns = [u[0] for u in itemlist]  # 欄の見出し（単語）を付ける

In [61]:
tfidfpd

,1,10,2,3,a,affect,agnodice,akin,aliud,amaranth,...,９,ａ,ｂ,ｃ,ｈ,ｋ,ｔ,ｗ,ｘ,ｚ
0,5.079442,0.000000,10.158883,3.386294,3.863046,0.000000,6.772589,0.000000,1.693147,0.000000,...,0.000000,1.693147,1.693147,1.693147,1.693147,1.287682,6.772589,3.386294,1.693147,3.386294
1,0.000000,3.386294,0.000000,0.000000,1.287682,1.693147,0.000000,3.386294,0.000000,1.693147,...,1.693147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,529.237332,0.000000,0.000000,0.000000,0.000000

In [63]:
for u in tfidfpd.index:
   print(tfidfpd.T.sort_values(by=u, ascending=False).iloc[:50 ,u])
   # 行と列を転置したものを、それぞれの文書に対して降順にソートし、先頭50語を表示

の     9193.000000
て     6873.000000
は     6424.000000
に     6267.000000
を     6071.000000
と     5515.000000
が     5339.000000
た     3987.000000
で     3805.000000
も     2474.000000
ない    2391.000000
だ     2367.000000
し     2326.000000
から    2041.000000
ある    1731.000000
な     1611.000000
云う    1586.478908
ん     1568.000000
か     1530.000000
いる    1251.000000
事     1207.000000
へ     1034.000000
する     998.000000
う      992.000000
もの     981.000000
君      973.000000
です     973.000000
主人     932.000000
吾輩     816.096941
よう     696.000000
ね      682.000000
この     649.000000
御      636.000000
ば      617.000000
人      602.000000
迷亭     580.749483
その     576.000000
そう     554.000000
一      554.000000
何      539.000000
なる     529.000000
さ      512.000000
よ      509.000000
寒月     484.240094
なら     483.000000
い      476.000000
ます     458.000000
じゃ     448.000000
これ     414.000000
云っ     408.048471
Name: 0, dtype: float64
の      4541.000000
た      4092.000000
て      3968.000000
は      3452.000000
に      3429.000000
を      3211.000000
が      2867.000000
と      2443.000000
で      1803.000000
三四郎    1544.150229
ない     1233.000000
ある     1009.000000
いる      999.000000
だ       969.000000
から      962.000000
も       946.000000
し       931.000000
へ       728.000000
か       720.000000
な       676.000000
与次郎     594.294660
美禰子     524.875626
人       484.000000
う       471.000000
い       466.000000
言っ      430.085812
その      415.000000
ん       409.000000
よう      395.000000
女       383.000000
この      370.000000
三       364.000000
です      356.000000
もの      355.000000
さん      330.000000
する      328.000000
野々      323.391111
二       322.000000
先生      313.000000
こと      289.000000
郎       278.139328
四       272.000000
広田      260.744666
なっ      257.000000
時       256.000000
宮       247.234958
そう      246.000000
来       240.000000
一       236.000000
出       228.000000
Name: 1, dtype: float64
の      5798.000000
た      5392.000000
は      4146.000000
に      4100.000000
て      3402.000000
を      3214.000000
私      2695.000000
が      2194.000000
と      2036.000000
で      1509.000000
も      1307.000000
し      1269.000000
です     1131.000000
まし     1034.000000
ない     1021.000000
い       887.000000
から      868.000000
な       701.000000
その      685.000000
か       662.000000
先生      597.000000
だ       595.000000
ん       579.000000
事       575.000000
う       541.000000
ｋ       529.237332
へ       518.000000
よう      503.000000
いる      486.000000
なかっ     464.000000
それ      411.000000
もの      392.000000
人       388.000000
奥さん     388.000000
時       375.000000
ませ      369.000000
あっ      349.000000
父       346.386477
でし      343.000000
という     331.000000
する      320.000000
彼       314.000000
れ       292.000000
いっ      270.000000
また      265.000000
ある      264.000000
自分      264.000000
なっ      248.000000
何       247.000000
来       247.000000
Name: 2, dtype: float64

cos類似度

In [64]:
# norm=Noneでベクトルの正規化（長さを1にする）をやめる
vectorizer = TfidfVectorizer(use_idf=True, norm="l2", \
                             token_pattern=u'(?u)\\b\\w+\\b')

tfidf = vectorizer.fit_transform(wakatilist)
tfidfpd = pd.DataFrame(tfidf.toarray())     # pandasのデータフレームに変換する
itemlist = sorted(vectorizer.vocabulary_.items(), key=lambda x:x[1])
tfidfpd.columns = [u[0] for u in itemlist]  # 欄の見出し（単語）を付ける

In [66]:
for u, v in[(0,1),(0,2),(1,2),(0,0),(1,1)]:
    x = (tfidfpd.iloc[u, :].dot(tfidfpd.iloc[v, :]))
    print(x)

0.9475907586393976
0.9040745100895475
0.9266652269001507
0.9999999999999858
0.9999999999999599